@import '../../_theme';

.LoginPage {
	@include page;

	.LoginPage__body {
		@include page__body;
	}

	.LoginPage__form {
		@include light-box;

		h3 {
			margin: 0 0 $margin-sm;
		}
	}

	.LoginPage__form-list {
		@include dark-box;

		margin-bottom: $margin-lg;

		ul {
			margin-block-start: 0;
			margin-block-end: 0;
			padding-inline-start: 0;
			list-style: none;
		}

		li {
			@include dark-button;
			margin-bottom: $margin-sm;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.LoginPage__form-register {
		@include dark-box;
	}

	.LoginPage__form-group {
		text-align: center;

		input {
			@include input-dark;
			margin: $margin-sm 0 $margin-lg 0;
			width: 100%;
			box-sizing: border-box;
		}
	}

	.LoginPage__form-register-button {
		@include dark-button;
		@include button-with-icon-sm;
		width: 100%;
	}
}
