.TypingLine {
  display: flex;
	flex-direction: row;
	align-items: baseline;
	height: 43px;
	overflow: hidden;

	.TypingChar {
		&:first-child {
			margin-left: 50%;
		}
		&:last-child {
			padding-right: 50%;
		}
	}
}
