@import "../../_theme";

.TrainerInstruction {
	@include light-box;

	.TrainerInstruction__title {
		@include dark-box;
		text-align: center;
	}

	.TrainerInstruction__button {
		@include dark-box;
		text-align: center;
		font-size: 1.5rem;
	}

	.TrainerInstruction__message {
		@include dark-box;
		padding: $margin-sm $margin-lg;
		text-align: center;
		font-size: 0.9rem;
		color: $color-light-gray;
	}
}
