@import "../../_theme";

.UserPage {
	@include page;

	.UserPage__body {
		@include page__body;
	}

	.UserPage__frame {
		@include light-box;

		h3 {
			margin: 0 0 $margin-sm;
		}
	}

	.UserPage__my-keyboards {
		@include dark-box;
	}

	.UserPage__other-keyboards {
		@include dark-box;
	}

	.UserPage__my-keyboards + .UserPage__other-keyboards {
		margin-top: $margin-lg;
	}

	.UserPage__group-list {
		border: 1px solid $color-gray;
		border-radius: $radius-sm;
		background: $color-dark-gray;
	}

	.UserPage__group-list-item {
		padding: $margin-sm;
		border-bottom: 1px solid $color-gray;
		cursor: pointer;

		&:last-of-type {
			border-bottom: none;
		}

		&:hover {
			background: $color-page-background;
		}
	}
}
