$color-page-background: #222222;
$color-dark-gray: #444444;
$color-light-gray: #aaaaaa;
$color-white: #ffffff;
$color-gray: #999999;
$color-red: #ff6666;
$color-black: #000000;
$radius-lg: 8px;
$radius-sm: 4px;
$margin-lg: 20px;
$margin-sm: 6px;


@mixin page {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

@mixin page__body {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: $margin-lg;

	> div {
		margin: auto 0;
	}
}

@mixin light-box {
	padding: $margin-lg;
	background: $color-dark-gray;
	border-radius: $radius-lg;
}

@mixin dark-box {
	background: $color-page-background;
	padding: $margin-lg;
	border-radius: $radius-sm;
	margin-bottom: $margin-lg;

	&:last-child {
		margin-bottom: 0;
	}
}

@mixin dark-button {
	background: $color-page-background;
	border: 1px solid $color-dark-gray;
	border-radius: $radius-sm;
	padding: $margin-sm;
	cursor: pointer;
	color: $color-white;
	text-decoration: none;

	&:hover {
		background: $color-black;
		border-color: $color-gray;

		.Icon {
			fill: $color-white;
		}
	}

	.Icon {
		fill: $color-light-gray;
	}
}

@mixin button-with-icon-sm {
	.Icon {
		@include icon-white-sm;
		fill: $color-light-gray;
		margin-bottom: -2px;
	}
}

@mixin form-group-horiz {
	display: flex;
	flex-direction: row;
	margin-bottom: $margin-sm;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.Icon-sm {
	width: 16px;
	height: 16px;
}

.Icon-lg {
	width: 24px;
	height: 24px;
}

@mixin icon-white-sm {
	width: 16px;
	height: 16px;
	fill: $color-white;
}

@mixin icon-white-lg {
	width: 24px;
	height: 24px;
	fill: $color-white;
}

@mixin group-list {
	display: flex;
	flex-direction: column;
}

@mixin group-list-item {

}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin flex-col {
	display: flex;
	flex-direction: column;
}

@mixin responsive-flex-col-sm {
	@media (max-width: 720px) {
		flex-direction: column;
		align-items: center;
	}
}

@mixin input-dark {
	background: $color-dark-gray;
	color: $color-white;
	border: 1px solid $color-gray;
	margin: 0 $margin-sm;
	border-radius: $radius-sm;
	padding: $margin-sm;
	text-align: center;
}
