$color-page-background: #222222;
$color-dark-gray: #444444;
$color-light-gray: #aaaaaa;
$color-white: #ffffff;
$color-gray: #999999;
$color-red: #ff6666;
$radius-lg: 8px;
$radius-sm: 4px;
$margin-lg: 20px;
$margin-sm: 6px;
