@import "./_theme";
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background: $color-page-background;
	margin: 0;
	padding: 0;
	overflow: hidden;

	color: $color-white;
	font-family: 'Pangolin', cursive;
	box-sizing: border-box;

	> p {
		position: absolute;
		left: 0;
		top: 0;
	}
}

div {
	box-sizing: border-box;
}

a {
	color: $color-white;
}
