@import '../../_theme';

.KeyboardPage {
	@include page;

	.KeyboardPage__body {
		@include page__body;
	}

	.KeyboardPage__box {
		@include light-box;
		max-width: 900px;
		width: calc(100% - 40px);
	}

	.KeyboardPage__header {
		@include dark-box;
		@include flex-col;
	}

	.KeyboardPage__progress {
		height: 16px;
		margin-top: $margin-sm;
	}

	.KeyboardPage__details {
		@include dark-box;
		@include flex-row;
	}

	.KeyboardPage__desc {
		flex: 1;
	}

	.KeyboardPage__title-icon {
		@include icon-white-lg;
		margin-bottom: -4px;
		margin-right: $margin-sm * 1.5;
	}

	.KeyboardPage__title {
		margin: 0;
	}

	.KeyboardPage__description {
		margin-top: $margin-sm;
		color: $color-light-gray;
	}

	.KeyboardPage__start-button {
		@include dark-button;
	}

	.KeyboardPage__options {
		@include dark-box;
		@include flex-row;
	}

	.KeyboardPage__options-form {
		flex: 1;
	}

	.KeyboardPage__details-view {
		flex: 1;
		display: table;

		kbd {
			border: 1px solid $color-dark-gray;
			padding: $margin-sm/3 $margin-sm;
			border-radius: $radius-sm;
			margin: 0 $margin-sm/2;
		}
	}

	.KeyboardPage__details-controls {
		margin-left: $margin-lg;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}

	.KeyboardPage__stats-button {
		@include dark-button;
	}

	.KeyboardPage__options-controls {
		margin-left: $margin-lg;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}

	.KeyboardPage__options-form-group {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		border-color: #777777;
		margin: $margin-sm 0;

		legend {
			padding: 0 $margin-sm;
		}

		input {
			background: #555;
			color: white;
			border: 1px solid #ccc;
			margin: 0 $margin-sm;
			border-radius: $radius-sm;
			padding: $margin-sm;
			text-align: center;
		}
	}
}
