@import '../../_theme';

.KeyboardPage {
	@include page;

	.KeyboardPage__body {
		@include page__body;
	}

	.KeyboardPage__box {
		@include light-box;
		max-width: 900px;
		width: calc(100% - 40px);
	}

	.KeyboardPage__header {
		@include dark-box;
		@include flex-row;
	}

	.KeyboardPage__details {
		@include dark-box;
		@include flex-row;
	}

	.KeyboardPage__desc {
		flex: 1;
	}

	.KeyboardPage__title-icon {
		@include icon-white-lg;
		margin-bottom: -4px;
		margin-right: $margin-sm * 1.5;
	}

	.KeyboardPage__title {
		margin: 0;
	}

	.KeyboardPage__description {
		margin-top: $margin-sm;
		color: $color-light-gray;
	}

	.KeyboardPage__start-button {
		@include dark-button;
	}

	.KeyboardPage__options {
		@include dark-box;
		@include flex-row;
	}

	.KeyboardPage__options-form {
		flex: 1;
	}

	.KeyboardPage__details-view {
		flex: 1;

		kbd {
			border: 1px solid $color-dark-gray;
			padding: $margin-sm/3 $margin-sm;
			border-radius: $radius-sm;
			margin: 0 $margin-sm/2;
		}
	}

	.KeyboardPage__stats-button {
		@include dark-button;
	}

}
