@import '../../theme';

.LessonRow {
	display: table-row;
	color: $color-green;


	&.LessonRow--active {
		.LessonRow__label {
			color: white;
			font-weight: bold;
		}

		.LessonRow__keys kbd {
			color: white;
			font-weight: bold;
		}
	}

	&.LessonRow--future {
		.LessonRow__label {
			color: $color-gray;
		}

		.LessonRow__keys kbd {
			color: $color-gray;
		}

		.LessonRow__progress {
			opacity: 0.5;
		}
	}

	.LessonRow__label {
		display: table-cell;
		white-space: nowrap;
		padding: $margin-sm;
	}

	.LessonRow__keys {
		display: table-cell;
		white-space: nowrap;
		padding: $margin-sm;
	}

	.LessonRow__progress {
		display: table-cell;
		width: 100%;
		height: 16px;
		padding: $margin-sm * 1.5 $margin-sm;
	}
}
